.vs/

Livesplit.PhasmophobiaAutosplitter/bin/
Livesplit.PhasmophobiaAutosplitter/obj/
Livesplit.PhasmophobiaAutosplitter/External/
tools/
PhasmoInfo2026/
LiveSplit.PhasmophobiaContractResolver

*.user
*.suo
*.userosscache
*.sln.docstates
_*.log

ContractResolverRelease/
