.vs/
.cursor/

Livesplit.PhasmophobiaAutosplitter/bin/
Livesplit.PhasmophobiaAutosplitter/obj/
Livesplit.PhasmophobiaAutosplitter/External/
tools/
PhasmoInfo2026/
Livesplit.PhasmophobiaContractResolver/
Components/LiveSplit.PhasmophobiaContractResolver.dll
Subnautica_Autosplitter_Sprinter31_4-13-26/
*.user
*.suo
*.userosscache
*.sln.docstates
_*.log

ContractResolverRelease/
